<section class="container">
  <p-card [header]="title" styleClass="ui-card-shadow">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid flex flex-column gap-4">
        <div class="p-field">
          <input id="name" type="text" pInputText formControlName="name" placeholder="Nome" required />
        </div>

        <div class="p-field">
          <input id="code" type="text" pInputText formControlName="code" placeholder="Código" required />
        </div>

        <div class="p-field">
          <input id="description" type="text" pInputText formControlName="description" placeholder="Descrição" required />
        </div>

        <div class="p-field">
          <input id="expiryDate" type="date" pInputText formControlName="expiryDate" placeholder="Data de expiração" required />
        </div>

        <div class="p-field">
          <input id="stock" type="number" pInputText formControlName="stock" placeholder="Estoque" required />
        </div>

        <div class="p-field">
          <input id="price" type="number" pInputText formControlName="price" placeholder="Preço" required />
        </div>

        <div class="p-field">
          <input id="imgUrl" type="text" pInputText formControlName="imgUrl" placeholder="Url da imagem" />
        </div>

        <button pButton type="submit" [label]="title" [disabled]="productForm.invalid"></button>
      </div>
    </form>
  </p-card>

</section>