<section class="container">
  <p-card [header]="title" styleClass="ui-card-shadow">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid flex flex-column gap-4">
        <div class="p-field">
          <input id="name" type="text" pInputText formControlName="name" placeholder="Nome" required />
        </div>

        <div class="p-field">
          <input id="email" type="email" pInputText formControlName="email" placeholder="Email" required />
        </div>

        <div class="p-field">
          <p-password formControlName="password" [toggleMask]="true" placeholder="Senha"></p-password>
        </div>

        <div class="p-field">
          <input id="githubUsername" type="text" pInputText formControlName="githubUsername"
            placeholder="Github Username" required />
        </div>

        <button pButton type="submit" [label]="title" [disabled]="userForm.invalid"></button>
      </div>
    </form>
  </p-card>

</section>