<div class="user-list-container">
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Github Username</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.githubUsername }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="mr-2" [routerLink]="['/users', user.id]"></p-button>
          <p-button icon="pi pi-trash" severity="danger" (click)="deleteUser(user)" [disabled]="verifyUser(user)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
