<div class="payment-list-container">
  <p-table [value]="payments">
    <ng-template pTemplate="header">
      <tr>
        <th>Produto</th>
        <th>Cliente</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Data de Entrega</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr>
        <td>{{ payment.product.name }}</td>
        <td>
          <p-chip [label]="payment.user.name" image="https://github.com/{{ payment.user.githubUsername }}.png">
          </p-chip>
        </td>
        <td>{{ payment.quantity }}</td>
        <td>{{ payment.product.price * payment.quantity | currency: 'BRL' }}</td>
        <td>{{ payment.deliveryDate | date:"dd/MM/yyyy" }}</td>
        <td> <p-tag severity="success" [value]="payment.status "></p-tag></td>
      </tr>
    </ng-template>
  </p-table>
</div>