<div class="w-full h-screen flex justify-content-center align-items-center">
  <p-card>
    <img src="../../../assets/logo.svg" alt="logo" class="mb-4">
    <form (ngSubmit)="login()" class="flex flex-column gap-4">
      <div class="flex flex-column justify-content-center align-items-center">
        <input type="email" class="w-full" pInputText id="email" [(ngModel)]="email" name="email" placeholder="Email"
          required>
      </div>

      <div class="flex flex-column justify-content-center align-items-center">
        <p-password class="w-full" [feedback]="false" [(ngModel)]="password" name="password" placeholder="Senha" [toggleMask]="true"
          required></p-password>
      </div>

      <div class="flex flex-column justify-content-center align-items-center gap-4">
        <p-button label="Entrar" type="submit" [disabled]="isFormInvalid()"></p-button>
        <p-button label="Criar conta" [text]="true" severity="info" routerLink="/create-user"></p-button>
      </div>
    </form>
  </p-card>
</div>