.card {
  width: 400px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
}

.password-container button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
