<div class="w-full h-screen flex justify-content-center align-items-center">
  <p-card class="card">
    <img src="../../../assets/logo.svg" alt="logo" class="mb-4">
    <form (ngSubmit)="login()" class="flex flex-column gap-4">
      <div class="flex flex-column justify-content-center align-items-center">
        <input type="email" class="w-full" pInputText id="email" formControlName="email" name="email" placeholder="Email"
          required>
      </div>

      <div class="flex flex-column justify-content-center align-items-center w-full">
        <input type="password" class="w-full" pInputText id="password" formControlName="password" name="password" placeholder="Senha"
        required>
      </div>

      <div class="flex flex-column justify-content-center align-items-center gap-4">
        <p-button label="Entrar" type="submit" [disabled]="isFormInvalid()"></p-button>
        <p-button label="Criar conta" [text]="true" severity="info" routerLink="/create-user"></p-button>
      </div>
    </form>
  </p-card>
</div>