<div class="w-full h-screen flex justify-content-center align-items-center">
  <p-card class="card">
    <img src="../../../assets/logo.svg" alt="logo" class="mb-4">
    <form [formGroup]="form" (ngSubmit)="createUser()" class="flex flex-column gap-4">
      <div class="flex flex-column justify-content-center align-items-center">
        <input type="text" class="w-full" pInputText id="name" formControlName="name" name="name" placeholder="Nome"
          required>
      </div>

      <div class="flex flex-column justify-content-center align-items-center">
        <input type="email" class="w-full" pInputText id="email" formControlName="email" name="email"
          placeholder="Email" required>
      </div>

      <div class="flex justify-content-center align-items-center w-full password-container">
        <input pInputText [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="w-full" placeholder="Senha" />
        <button type="button" (click)="togglePasswordVisibility()">
          <i [class]="hidePassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
        </button>
      </div>

      <div class="flex flex-column justify-content-center align-items-center">
        <input type="text" class="w-full" pInputText id="githubUsername" formControlName="githubUsername"
          name="githubUsername" placeholder="Github Username" required>
      </div>

      <div class="flex flex-column justify-content-center align-items-center gap-4">
        <p-button label="Criar Conta" type="submit"></p-button>
        <p-button label="Login" [text]="true" severity="info" routerLink="/login"></p-button>
      </div>

    </form>
  </p-card>
</div>