<div class="card">
  <div class="card flex flex-wrap gap-3 mb-2 p-4 w-full">
    <div class="p-input-icon-left dg-input-search">
      <i class="pi pi-search"></i>
      <input type="text" class="w-full" pInputText placeholder="Pesquisar por nome ✍🏻" [formControl]="searchControl"/>
    </div>

   <div>
     <p-dropdown [options]="options" [(ngModel)]="option" (onClear)="handlerClean()" (onChange)="handleOption()" optionLabel="label" [showClear]="true" placeholder="Filtros"></p-dropdown>
   </div>
  </div>

  <p-dataView #dv [value]="products">
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="product.imgUrl"
            [alt]="product.name" />
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">{{ product.name }}</div>
              <span class="text-2xl font-semibold">{{ product.price | currency: 'BRL' }}</span>
              <p-tag severity="info">{{ getTotalPrice(product) | currency: 'BRL' }}</p-tag>
              <div class="flex align-items-center gap-3">
                <span class="flex flex-column align-items-start gap-1">
                  <p-tag [value]="product.stock + ' em estoque'" [rounded]="true"
                    [severity]="getSeverity(product)"></p-tag>
                  <p-tag *ngIf="!validateExpiration(product)" [rounded]="true" severity="info">Expira em {{
                    product.expiryDate | date: 'dd/MM/yyyy' }}</p-tag>
                  <p-tag *ngIf="validateExpiration(product)" [rounded]="true" severity="danger">Produto Expirado em {{
                    product.expiryDate | date: 'dd/MM/yyyy' }}</p-tag>    
                  <span>
                    <h4>Descrição</h4>
                    <p>{{ product.description }}</p>
                  </span>
                </span>
              </div>
            </div>
            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
              <div class="flex flex-column align-items-center gap-2"
                *ngIf="product.stock > 0 && !validateExpiration(product)">

                <span class="flex gap-1 w-full">
                  <button pButton
                    class="p-button-success flex justify-content-between md:align-self-end mb-2 p-button-rounded w-full"
                    [disabled]="product.stock === 0 || quantities[product.id] === 0 || quantities[product.id] == null"
                    (click)="toPayment(product)">
                    Comprar
                    <i class="pi pi-shopping-cart ml-2"></i>
                  </button>
                </span>

                <p-inputNumber [size]="5" [(ngModel)]="quantities[product.id]" [showButtons]="true"
                  buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                  decrementButtonClass="p-button-info" incrementButtonClass="p-button-info"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal" [min]="1"
                  [max]="product.stock"></p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>