<div class="product-list-container">
  <h2>Products</h2>
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Date Entry</th>
        <th>Expiration</th>
        <th>Stock</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.dateEntry | date }}</td>
        <td>{{ product.expiration | date }}</td>
        <td>{{ product.stock }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
